data/geno2geneseq.csv
data/BGC_labels_dataset.csv
resultSave/*
modelSave/*
log/*
src/__pycache__/*
lmdb_val
lmdb_BGC
*.out
data/BGC_train_dataset_plus.csv
lmdb_train_dataset.tar.gz
data/BGC_train_dataset_aug.csv
data/BGC_train_dataset_inbalence.csv
lmdb_BGC_only/data.mdb
lmdb_BGC_only/lock.mdb
lmdb_train/data.mdb
lmdb_train/lock.mdb
modelSavetransformerClassifier/*
output/*

lmdb_BGC_650M/*

bgc_prophet/__pycache__/*
bgc_prophet/command/__pycache__/*
bgc_prophet/train/__pycache__/*

bgc_prophet.egg-info/*
dist/*
build/*
src/*
src/utils/*
*.sh
data/*